# Citibike Project - Combining Datasets

Combining the bike share datsets downloaded from `01_download_data.ipynb`

## Imports

In [54]:
import pandas as pd
import numpy as np
import os
import csv
import re
import shutil

## Examine files

Look at a few `.head()` of files to see what we're working with.

In [14]:
data_201307=pd.read_csv('/Users/sra/files/projects/citibike_project/combined/csv_group2/2013-07 - Citi Bike trip data.csv')
data_201307.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,634,2013-07-01 00:00:00,2013-07-01 00:10:34,164,E 47 St & 2 Ave,40.753231,-73.970325,504,1 Ave & E 15 St,40.732219,-73.981656,16950,Customer,\N,0
1,1547,2013-07-01 00:00:02,2013-07-01 00:25:49,388,W 26 St & 10 Ave,40.749718,-74.002950,459,W 20 St & 11 Ave,40.746745,-74.007756,19816,Customer,\N,0
2,178,2013-07-01 00:01:04,2013-07-01 00:04:02,293,Lafayette St & E 8 St,40.730287,-73.990765,237,E 11 St & 2 Ave,40.730473,-73.986724,14548,Subscriber,1980,2
3,1580,2013-07-01 00:01:06,2013-07-01 00:27:26,531,Forsyth St & Broome St,40.718939,-73.992663,499,Broadway & W 60 St,40.769155,-73.981918,16063,Customer,\N,0
4,757,2013-07-01 00:01:10,2013-07-01 00:13:47,382,University Pl & E 14 St,40.734927,-73.992005,410,Suffolk St & Stanton St,40.720664,-73.985180,19213,Subscriber,1986,1

In [17]:
data_201612=pd.read_csv('/Users/sra/files/projects/citibike_project/combined/csv_group2/201612-citibike-tripdata.csv')
data_201612.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1

In [18]:
data_201701=pd.read_csv('/Users/sra/files/projects/citibike_project/combined/csv_group2/201612-citibike-tripdata.csv')
data_201701.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,528,2016-12-01 00:00:04,2016-12-01 00:08:52,499,Broadway & W 60 St,40.769155,-73.981918,228,E 48 St & 3 Ave,40.754601,-73.971879,26931,Subscriber,1964.0,1
1,218,2016-12-01 00:00:28,2016-12-01 00:04:06,3418,Plaza St West & Flatbush Ave,40.675021,-73.971115,3358,Garfield Pl & 8 Ave,40.671198,-73.974841,27122,Subscriber,1955.0,1
2,399,2016-12-01 00:00:39,2016-12-01 00:07:19,297,E 15 St & 3 Ave,40.734232,-73.986923,345,W 13 St & 6 Ave,40.736494,-73.997044,19352,Subscriber,1985.0,1
3,254,2016-12-01 00:00:44,2016-12-01 00:04:59,405,Washington St & Gansevoort St,40.739323,-74.008119,358,Christopher St & Greenwich St,40.732916,-74.007114,20015,Subscriber,1982.0,1
4,1805,2016-12-01 00:00:54,2016-12-01 00:31:00,279,Peck Slip & Front St,40.707873,-74.001670,279,Peck Slip & Front St,40.707873,-74.001670,23148,Subscriber,1989.0,1

In [20]:
data_202304=pd.read_csv('/Users/sra/files/projects/citibike_project/combined/csv_group1/202304-citibike-tripdata.csv',low_memory=False)
data_202304.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,159C90AB46D5631B,classic_bike,2023-04-01 17:24:06,2023-04-01 17:46:10,Hoyt St & Warren St,4330.09,Washington St & Laight St,5509.02,40.684294,-73.988944,40.722310,-74.010600,member
1,4349D44670885CED,electric_bike,2023-04-13 15:09:12,2023-04-13 15:16:11,E 25 St & 2 Ave,6046.02,E 47 St & 2 Ave,6498.10,40.739126,-73.979738,40.753231,-73.970325,member
2,55EB4E8AF45439D2,electric_bike,2023-04-28 15:17:00,2023-04-28 15:26:09,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763126,-73.965269,40.763189,-73.978434,member
3,3133FC58AA938D08,classic_bike,2023-04-23 16:18:49,2023-04-23 17:10:50,Washington Pl & 6 Ave,5838.09,E 56 St & 3 Ave,6691.11,40.732241,-74.000264,40.759345,-73.967597,member
4,BF2DD897668DA1AC,classic_bike,2023-04-21 15:42:08,2023-04-21 15:47:04,3 Ave & E 62 St,6762.04,W 55 St & 6 Ave,6809.09,40.763112,-73.965812,40.763189,-73.978434,member

It looks like there are a few patterns of headers within the corpus of CSV files. This will be tricky to disentangle, though hopefully we can rectify the data and combine as much as possible together.

The recent data has different columns than older data:

In [91]:
data_202304.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

### How many files are in the tripdata folder?

In [131]:
# get number of files in the data folder
folder_path='/Users/sra/files/projects/citibike_project/tripdata'

# get the list of files in the folder
file_list=os.listdir(folder_path)

# number of files in the list of files
num_files=len(file_list)

print(num_files)

1

### View all filenames

In [21]:
def file_list_printer(folder_path):
    
    # get the list of files in the folder
    file_list=os.listdir(folder_path)
    
    try:
        for file in file_list:
        
            csv=pd.read_csv(file)
        
            print(csv.columns)
            
            # csv=None
        
    except: 
        print(f'error, {print(file_list)}')

In [133]:
# I moved the files to different folders when I ran the code the first time.
# The files are now separated into two groups.
# Originally, they were located here:
# /Users/sra/files/projects/citibike_project/tripdata

In [23]:
file_list_printer(folder_path='/Users/sra/files/projects/citibike_project/combined/csv_group1')

['202105-citibike-tripdata.csv', '202203-citibike-tripdata.csv', '202209-citibike-tripdata.csv', '.DS_Store', '202207-citbike-tripdata.csv', '202302-citibike-tripdata.csv', '202201-citibike-tripdata.csv', '202107-citibike-tripdata.csv', '202111-citibike-tripdata.csv', '202304-citibike-tripdata.csv', '202211-citibike-tripdata.csv', '202109-citibike-tripdata.csv', '202205-citibike-tripdata.csv', '202103-citibike-tripdata.csv', '202206-citbike-tripdata.csv', '202112-citibike-tripdata.csv', '202104-citibike-tripdata.csv', '202202-citibike-tripdata.csv', '202303-citibike-tripdata.csv', '202110-citibike-tripdata.csv', '202106-citibike-tripdata.csv', '202108-citibike-tripdata.csv', 'JC-202305-citibike-tripdata.csv', '202204-citibike-tripdata.csv', '202102-citibike-tripdata.csv']
error, None

In [24]:
file_list_printer(folder_path='/Users/sra/files/projects/citibike_project/combined/csv_group2')

['201709-citibike-tripdata.csv', '201809-citibike-tripdata.csv', '2013-09 - Citi Bike trip data.csv', '202006-citibike-tripdata.csv', '201701-citibike-tripdata.csv', '202010-citibike-tripdata.csv', '201602-citibike-tripdata.csv', '201902-citibike-tripdata.csv', '201512-citibike-tripdata.csv', '201411-citibike-tripdata.csv', '201801-citibike-tripdata.csv', '2014-05 - Citi Bike trip data.csv', '201504-citibike-tripdata.csv', '2014-02 - Citi Bike trip data.csv', '201908-citibike-tripdata.csv', '201608-citibike-tripdata.csv', '201510-citibike-tripdata.csv', '201803-citibike-tripdata.csv', '201506-citibike-tripdata.csv', '202004-citibike-tripdata.csv', '201703-citibike-tripdata.csv', '202012-citibike-tripdata.csv', '202101-citibike-tripdata.csv', '202002-citibike-tripdata.csv', '201610-citibike-tripdata.csv', '201606-citibike-tripdata.csv', '201705-citibike-tripdata.csv', '201805-citibike-tripdata.csv', '201906-citibike-tripdata.csv', '201910-citibike-tripdata.csv', '201508-citibike-tripdata.csv', '2014-07 - Citi Bike trip data.csv', '201807-citibike-tripdata.csv', '201904-citibike-tripdata.csv', '201502-citibike-tripdata.csv', '201912-citibike-tripdata.csv', '201811-citibike-tripdata.csv', '2014-08 - Citi Bike trip data.csv', '201711-citibike-tripdata.csv', '201612-citibike-tripdata.csv', '201604-citibike-tripdata.csv', '201707-citibike-tripdata.csv', '201409-citibike-tripdata.csv', '202008-citibike-tripdata.csv', '2013-11 - Citi Bike trip data.csv', '201603-citibike-tripdata.csv', '202011-citibike-tripdata.csv', '202007-citibike-tripdata.csv', '2013-10 - Citi Bike trip data.csv', '201505-citibike-tripdata.csv', '201903-citibike-tripdata.csv', '201410-citibike-tripdata.csv', '201708-citibike-tripdata.csv', '201808-citibike-tripdata.csv', '2014-01 - Citi Bike trip data.csv', '201507-citibike-tripdata.csv', '201511-citibike-tripdata.csv', '2014-06 - Citi Bike trip data.csv', '201901-citibike-tripdata.csv', '201802-citibike-tripdata.csv', '201412-citibike-tripdata.csv', '201702-citibike-tripdata.csv', '201601-citibike-tripdata.csv', '202005-citibike-tripdata.csv', '201909-citibike-tripdata.csv', '201609-citibike-tripdata.csv', '2013-12 - Citi Bike trip data.csv', '201509-citibike-tripdata.csv', '201607-citibike-tripdata.csv', '201306-citibike-tripdata.csv', '201704-citibike-tripdata.csv', '201712-citibike-tripdata.csv', '201611-citibike-tripdata.csv', '202003-citibike-tripdata.csv', '201911-citibike-tripdata.csv', '2014-03 - Citi Bike trip data.csv', '201501-citibike-tripdata.csv', '201812-citibike-tripdata.csv', '2013-07 - Citi Bike trip data.csv', '201804-citibike-tripdata.csv', '201907-citibike-tripdata.csv', '2014-04 - Citi Bike trip data.csv', '202009-citibike-tripdata.csv', '2013-08 - Citi Bike trip data.csv', '201503-citibike-tripdata.csv', '201810-citibike-tripdata.csv', '201806-citibike-tripdata.csv', '201905-citibike-tripdata.csv', '201605-citibike-tripdata.csv', '201706-citibike-tripdata.csv', '201710-citibike-tripdata.csv', '202001-citibike-tripdata.csv']
error, None

#### Attempt to view all file headers in sequence

In [26]:
file_path='/Users/sra/files/projects/citibike_project/combined/csv_group1'
print('file_path:\n',file_path)

def get_column_names(directory):
    for filename in os.listdir(directory):
        if filename.endswith('.csv'):
            file_path = os.path.join(directory, filename)
            with open(file_path, 'r') as csv_file:
                reader = csv.reader(csv_file)
                headers = next(reader)  # get the header row
            return headers
    return None  # no CSV file found in the directory

file_path:
 /Users/sra/files/projects/citibike_project/combined/csv_group1

In [27]:
get_column_names(directory=file_path)

['ride_id',
 'rideable_type',
 'started_at',
 'ended_at',
 'start_station_name',
 'start_station_id',
 'end_station_name',
 'end_station_id',
 'start_lat',
 'start_lng',
 'end_lat',
 'end_lng',
 'member_casual']

That only got the first file.

##### Try again to view _all_ the files' headers.

Put the filenames and headers into a dictionary to make it easy to compare the headers.

In [171]:
def dict_maker(file_path:str,print_counter=4):
    
    counter_csv=0
    counter_not_csv=0
    file_dict={}
    print_counter_tracker=0
    
    for filename in os.listdir(file_path):
        print('filename: ',filename)
        if filename.endswith('.csv'):
            one_file_path = os.path.join(file_path, filename)
            print('file path:',one_file_path)
            with open(one_file_path, 'r') as csv_file:
                reader = csv.reader(csv_file)
                headers = next(reader)  # get the header row
                print('headers:  ',headers)
                print('\n')
            counter_csv+=1 # count to make sure all the files are represented
            print_counter_tracker+=1
        else:
            counter_not_csv+=1
            print(f'{filename} is not a csv file')
            print('\n')
        file_dict[filename]=headers

    print('csv counter:',counter_csv)
    print('not csv counter:',counter_not_csv)
    print('\n')
    print(file_dict)

In [201]:
def dict_maker(file_path:str,dictionary:dict,print_counter=4):
    
    out_dict=dictionary
    counter_csv=0
    counter_not_csv=0
    print_filename_counter_tracker=0
    print_filepath_counter_tracker=0
    print_header_counter_tracker=0
    
    for filename in os.listdir(file_path):
        if print_filename_counter_tracker <= print_counter:
            print('filename: ',filename)
            print_filename_counter_tracker+=1
            
        if filename.endswith('.csv'):
            one_file_path = os.path.join(file_path, filename)
            if print_filepath_counter_tracker <= print_counter:
                print('file path:',one_file_path)
                print_filepath_counter_tracker+=1
            with open(one_file_path, 'r') as csv_file:
                reader = csv.reader(csv_file)
                headers = next(reader)  # get the header row
                if print_header_counter_tracker <= print_counter:
                    print('headers:  ',headers)
                    print('\n')
                    print_header_counter_tracker+=1
            
            counter_csv+=1 # count to make sure all the files are represented
            
        else:
            counter_not_csv+=1
            print(f'{filename} is not a csv file')
            print('\n')
        out_dict[filename]=headers

    print('csv counter:',counter_csv)
    print('not csv counter:',counter_not_csv)
    print('\n')
    print(out_dict)

#### group1

In [202]:
file_path='/Users/sra/files/projects/citibike_project/combined/csv_group1'

In [203]:
group1_dict={}
dict_maker(file_path=file_path,dictionary=group1_dict)

filename:  202105-citibike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group1/202105-citibike-tripdata.csv
headers:   ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']


filename:  202203-citibike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group1/202203-citibike-tripdata.csv
headers:   ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']


filename:  202209-citibike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group1/202209-citibike-tripdata.csv
headers:   ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']


filename:  .DS_Store
.DS_Store is not a csv file


filename:  202207-citbike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group1/202207-citbike-tripdata.csv
headers:   ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']


file path: /Users/sra/files/projects/citibike_project/combined/csv_group1/202302-citibike-tripdata.csv
headers:   ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']


csv counter: 24
not csv counter: 1


{'202105-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202203-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202209-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '.DS_Store': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202207-citbike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202302-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202201-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202107-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202111-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202304-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202211-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202109-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202205-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202103-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202206-citbike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202112-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202104-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202202-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202303-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202110-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202106-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202108-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202305-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202204-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual'], '202102-citibike-tripdata.csv': ['ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual']}

In [208]:
for key in sorted(group1_dict.keys()):
    print(key)

.DS_Store
202102-citibike-tripdata.csv
202103-citibike-tripdata.csv
202104-citibike-tripdata.csv
202105-citibike-tripdata.csv
202106-citibike-tripdata.csv
202107-citibike-tripdata.csv
202108-citibike-tripdata.csv
202109-citibike-tripdata.csv
202110-citibike-tripdata.csv
202111-citibike-tripdata.csv
202112-citibike-tripdata.csv
202201-citibike-tripdata.csv
202202-citibike-tripdata.csv
202203-citibike-tripdata.csv
202204-citibike-tripdata.csv
202205-citibike-tripdata.csv
202206-citbike-tripdata.csv
202207-citbike-tripdata.csv
202209-citibike-tripdata.csv
202211-citibike-tripdata.csv
202302-citibike-tripdata.csv
202303-citibike-tripdata.csv
202304-citibike-tripdata.csv
202305-citibike-tripdata.csv

#### group2

In [209]:
file_path='/Users/sra/files/projects/citibike_project/combined/csv_group2'
group2_dict={}

dict_maker(file_path=file_path,dictionary=group2_dict)

filename:  201709-citibike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group2/201709-citibike-tripdata.csv
headers:   ['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']


filename:  201809-citibike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group2/201809-citibike-tripdata.csv
headers:   ['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']


filename:  2013-09 - Citi Bike trip data.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group2/2013-09 - Citi Bike trip data.csv
headers:   ['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']


filename:  202006-citibike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group2/202006-citibike-tripdata.csv
headers:   ['tripduration', 'starttime', 'stoptime', 'start station id', 'start station name', 'start station latitude', 'start station longitude', 'end station id', 'end station name', 'end station latitude', 'end station longitude', 'bikeid', 'usertype', 'birth year', 'gender']


filename:  201701-citibike-tripdata.csv
file path: /Users/sra/files/projects/citibike_project/combined/csv_group2/201701-citibike-tripdata.csv
headers:   ['Trip Duration', 'Start Time', 'Stop Time', 'Start Station ID', 'Start Station Name', 'Start Station Latitude', 'Start Station Longitude', 'End Station ID', 'End Station Name', 'End Station Latitude', 'End Station Longitude', 'Bike ID', 'User Type', 'Birth Year', 'Gender']


csv counter: 92
not csv counter: 0



In [210]:
for key in sorted(group2_dict.keys()):
    print(key)

2013-07 - Citi Bike trip data.csv
2013-08 - Citi Bike trip data.csv
2013-09 - Citi Bike trip data.csv
2013-10 - Citi Bike trip data.csv
2013-11 - Citi Bike trip data.csv
2013-12 - Citi Bike trip data.csv
201306-citibike-tripdata.csv
2014-01 - Citi Bike trip data.csv
2014-02 - Citi Bike trip data.csv
2014-03 - Citi Bike trip data.csv
2014-04 - Citi Bike trip data.csv
2014-05 - Citi Bike trip data.csv
2014-06 - Citi Bike trip data.csv
2014-07 - Citi Bike trip data.csv
2014-08 - Citi Bike trip data.csv
201409-citibike-tripdata.csv
201410-citibike-tripdata.csv
201411-citibike-tripdata.csv
201412-citibike-tripdata.csv
201501-citibike-tripdata.csv
201502-citibike-tripdata.csv
201503-citibike-tripdata.csv
201504-citibike-tripdata.csv
201505-citibike-tripdata.csv
201506-citibike-tripdata.csv
201507-citibike-tripdata.csv
201508-citibike-tripdata.csv
201509-citibike-tripdata.csv
201510-citibike-tripdata.csv
201511-citibike-tripdata.csv
201512-citibike-tripdata.csv
201601-citibike-tripdata.csv
201602-citibike-tripdata.csv
201603-citibike-tripdata.csv
201604-citibike-tripdata.csv
201605-citibike-tripdata.csv
201606-citibike-tripdata.csv
201607-citibike-tripdata.csv
201608-citibike-tripdata.csv
201609-citibike-tripdata.csv
201610-citibike-tripdata.csv
201611-citibike-tripdata.csv
201612-citibike-tripdata.csv
201701-citibike-tripdata.csv
201702-citibike-tripdata.csv
201703-citibike-tripdata.csv
201704-citibike-tripdata.csv
201705-citibike-tripdata.csv
201706-citibike-tripdata.csv
201707-citibike-tripdata.csv
201708-citibike-tripdata.csv
201709-citibike-tripdata.csv
201710-citibike-tripdata.csv
201711-citibike-tripdata.csv
201712-citibike-tripdata.csv
201801-citibike-tripdata.csv
201802-citibike-tripdata.csv
201803-citibike-tripdata.csv
201804-citibike-tripdata.csv
201805-citibike-tripdata.csv
201806-citibike-tripdata.csv
201807-citibike-tripdata.csv
201808-citibike-tripdata.csv
201809-citibike-tripdata.csv
201810-citibike-tripdata.csv
201811-citibike-tripdata.csv
201812-citibike-tripdata.csv
201901-citibike-tripdata.csv
201902-citibike-tripdata.csv
201903-citibike-tripdata.csv
201904-citibike-tripdata.csv
201905-citibike-tripdata.csv
201906-citibike-tripdata.csv
201907-citibike-tripdata.csv
201908-citibike-tripdata.csv
201909-citibike-tripdata.csv
201910-citibike-tripdata.csv
201911-citibike-tripdata.csv
201912-citibike-tripdata.csv
202001-citibike-tripdata.csv
202002-citibike-tripdata.csv
202003-citibike-tripdata.csv
202004-citibike-tripdata.csv
202005-citibike-tripdata.csv
202006-citibike-tripdata.csv
202007-citibike-tripdata.csv
202008-citibike-tripdata.csv
202009-citibike-tripdata.csv
202010-citibike-tripdata.csv
202011-citibike-tripdata.csv
202012-citibike-tripdata.csv
202101-citibike-tripdata.csv

Success!

#### Comparing dictionary values (i.e., .CSV headers) to see if they're the same.

If the header is the same, then the name of the file will be saved as a value under that same header key.
This is required as I want to make a dataset that has the same headers. Later I can do transformations if it turns out that the different header names have only capitalization patterns or other minor aesthetic differences.

In [211]:
def separate_dictionaries_by_value(dictionary):
    result = {}
    
    # Iterate over the key-value pairs in the dictionary
    for key, value in dictionary.items():
        if isinstance(value, list):
            value_tuple = tuple(value)
        else:
            value_tuple = value
        
        if value_tuple not in result:
            result[value_tuple] = []  # create a new list for the value
        
        result[value_tuple].append(key)  # add the key to the respective list
    
    return result

# example usage
dictionary = {'key0': [30, 'abc'], 'key1': [10, 'abc'], 'key2': [10, 'abc'], 'key3': [20, 'abc'],
              'key4': [10, 'abc'], 'key5': [20, 'abc'], 'key6': [30, 'abc'], 'key7': [20, 'def']}
result = separate_dictionaries_by_value(dictionary)
print(result)

{(30, 'abc'): ['key0', 'key6'], (10, 'abc'): ['key1', 'key2', 'key4'], (20, 'abc'): ['key3', 'key5'], (20, 'def'): ['key7']}

In [213]:
separated_dicts_group1=separate_dictionaries_by_value(group1_dict)
separated_dicts_group1

{('ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual'): ['202105-citibike-tripdata.csv',
  '202203-citibike-tripdata.csv',
  '202209-citibike-tripdata.csv',
  '.DS_Store',
  '202207-citbike-tripdata.csv',
  '202302-citibike-tripdata.csv',
  '202201-citibike-tripdata.csv',
  '202107-citibike-tripdata.csv',
  '202111-citibike-tripdata.csv',
  '202304-citibike-tripdata.csv',
  '202211-citibike-tripdata.csv',
  '202109-citibike-tripdata.csv',
  '202205-citibike-tripdata.csv',
  '202103-citibike-tripdata.csv',
  '202206-citbike-tripdata.csv',
  '202112-citibike-tripdata.csv',
  '202104-citibike-tripdata.csv',
  '202202-citibike-tripdata.csv',
  '202303-citibike-tripdata.csv',
  '202110-citibike-tripdata.csv',
  '202106-citibike-tripdata.csv',
  '202108-citibike-tripdata.csv',
  '202305-citibike-tripdata.csv',
  '202204-citibike-tripdata.csv',
  '202102-citibike-tripdata.csv']}

In [214]:
separated_dicts_group2=separate_dictionaries_by_value(group2_dict)
separated_dicts_group2

{('tripduration',
  'starttime',
  'stoptime',
  'start station id',
  'start station name',
  'start station latitude',
  'start station longitude',
  'end station id',
  'end station name',
  'end station latitude',
  'end station longitude',
  'bikeid',
  'usertype',
  'birth year',
  'gender'): ['201709-citibike-tripdata.csv',
  '201809-citibike-tripdata.csv',
  '2013-09 - Citi Bike trip data.csv',
  '202006-citibike-tripdata.csv',
  '202010-citibike-tripdata.csv',
  '201602-citibike-tripdata.csv',
  '201902-citibike-tripdata.csv',
  '201512-citibike-tripdata.csv',
  '201411-citibike-tripdata.csv',
  '201801-citibike-tripdata.csv',
  '2014-05 - Citi Bike trip data.csv',
  '201504-citibike-tripdata.csv',
  '2014-02 - Citi Bike trip data.csv',
  '201908-citibike-tripdata.csv',
  '201608-citibike-tripdata.csv',
  '201510-citibike-tripdata.csv',
  '201803-citibike-tripdata.csv',
  '201506-citibike-tripdata.csv',
  '202004-citibike-tripdata.csv',
  '202012-citibike-tripdata.csv',
  '202101-citibike-tripdata.csv',
  '202002-citibike-tripdata.csv',
  '201606-citibike-tripdata.csv',
  '201705-citibike-tripdata.csv',
  '201805-citibike-tripdata.csv',
  '201906-citibike-tripdata.csv',
  '201910-citibike-tripdata.csv',
  '201508-citibike-tripdata.csv',
  '2014-07 - Citi Bike trip data.csv',
  '201807-citibike-tripdata.csv',
  '201904-citibike-tripdata.csv',
  '201502-citibike-tripdata.csv',
  '201912-citibike-tripdata.csv',
  '201811-citibike-tripdata.csv',
  '2014-08 - Citi Bike trip data.csv',
  '201711-citibike-tripdata.csv',
  '201604-citibike-tripdata.csv',
  '201707-citibike-tripdata.csv',
  '201409-citibike-tripdata.csv',
  '202008-citibike-tripdata.csv',
  '2013-11 - Citi Bike trip data.csv',
  '201603-citibike-tripdata.csv',
  '202011-citibike-tripdata.csv',
  '202007-citibike-tripdata.csv',
  '2013-10 - Citi Bike trip data.csv',
  '201505-citibike-tripdata.csv',
  '201903-citibike-tripdata.csv',
  '201410-citibike-tripdata.csv',
  '201708-citibike-tripdata.csv',
  '201808-citibike-tripdata.csv',
  '2014-01 - Citi Bike trip data.csv',
  '201507-citibike-tripdata.csv',
  '201511-citibike-tripdata.csv',
  '2014-06 - Citi Bike trip data.csv',
  '201901-citibike-tripdata.csv',
  '201802-citibike-tripdata.csv',
  '201412-citibike-tripdata.csv',
  '201601-citibike-tripdata.csv',
  '202005-citibike-tripdata.csv',
  '201909-citibike-tripdata.csv',
  '201609-citibike-tripdata.csv',
  '2013-12 - Citi Bike trip data.csv',
  '201509-citibike-tripdata.csv',
  '201607-citibike-tripdata.csv',
  '201306-citibike-tripdata.csv',
  '201704-citibike-tripdata.csv',
  '201712-citibike-tripdata.csv',
  '202003-citibike-tripdata.csv',
  '201911-citibike-tripdata.csv',
  '2014-03 - Citi Bike trip data.csv',
  '201501-citibike-tripdata.csv',
  '201812-citibike-tripdata.csv',
  '2013-07 - Citi Bike trip data.csv',
  '201804-citibike-tripdata.csv',
  '201907-citibike-tripdata.csv',
  '2014-04 - Citi Bike trip data.csv',
  '202009-citibike-tripdata.csv',
  '2013-08 - Citi Bike trip data.csv',
  '201503-citibike-tripdata.csv',
  '201810-citibike-tripdata.csv',
  '201806-citibike-tripdata.csv',
  '201905-citibike-tripdata.csv',
  '201605-citibike-tripdata.csv',
  '201706-citibike-tripdata.csv',
  '201710-citibike-tripdata.csv',
  '202001-citibike-tripdata.csv'],
 ('Trip Duration',
  'Start Time',
  'Stop Time',
  'Start Station ID',
  'Start Station Name',
  'Start Station Latitude',
  'Start Station Longitude',
  'End Station ID',
  'End Station Name',
  'End Station Latitude',
  'End Station Longitude',
  'Bike ID',
  'User Type',
  'Birth Year',
  'Gender'): ['201701-citibike-tripdata.csv',
  '201703-citibike-tripdata.csv',
  '201610-citibike-tripdata.csv',
  '201612-citibike-tripdata.csv',
  '201702-citibike-tripdata.csv',
  '201611-citibike-tripdata.csv']}

There are only six file that have title-cased headers. Let's make them lower case and remove the spaces.

# WORK ON THIS NEXT

In [221]:
import os
import csv

def clean_headers_and_save(input_folder, output_folder):
    # Create the output folder if it doesn't exist
    os.makedirs(output_folder, exist_ok=True)
    
    for filename in os.listdir(input_folder):
        if filename.endswith('.csv'):
            input_file_path = os.path.join(input_folder, filename)
            output_file_path = os.path.join(output_folder, filename)
            
            with open(input_file_path, 'r') as input_csv, open(output_file_path, 'w', newline='') as output_csv:
                reader = csv.reader(input_csv)
                writer = csv.writer(output_csv)
                
                # Read and clean the header
                header = next(reader)
                cleaned_header = [col.strip().replace(' ', '').replace('_', '').lower() for col in header]
                
                # Write the cleaned header to the output file
                writer.writerow(cleaned_header)
                
                # Copy the rest of the rows
                for row in reader:
                    writer.writerow(row)

In [219]:
# Example usage
input_folder = '/path/to/your/input_folder'
output_folder = '/path/to/your/output_folder'

clean_headers_and_save(input_folder, output_folder)

OSError: [Errno 30] Read-only file system: '/path'

In [ ]:
file_path='/Users/sra/files/projects/citibike_project/combined/csv_group1'

dict_maker(file_path=file_path)

Success!

Now let's check to make sure that all of the files are accounted for after all of this transformation:

In [37]:
sum_of_files=[]
for key in separated_dicts:
    sum_of_files.append(len(separated_dicts[key]))
    print(key,'\n','number of keys:',len(separated_dicts[key]))
print('sum of all values, i.e., sum of all the files:',sum(sum_of_files))

('ride_id', 'rideable_type', 'started_at', 'ended_at', 'start_station_name', 'start_station_id', 'end_station_name', 'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng', 'member_casual')
 number of keys: 25
sum of all values, i.e., sum of all the files: 25

It looks like that the first and third header groups are the same, it's just a matter of capitalization. The second header group is different, so I will put those aside for now.

#### Now let's organize all the files from the first and third header groups into the same folder.

In [8]:
# header_group_1a and 1b have the same headers
# except that 1b is title-cased
header_group_1a=separated_dicts['tripduration',
  'starttime',
  'stoptime',
  'start station id',
  'start station name',
  'start station latitude',
  'start station longitude',
  'end station id',
  'end station name',
  'end station latitude',
  'end station longitude',
  'bikeid',
  'usertype',
  'birth year',
  'gender']

NameError: name 'separated_dicts' is not defined

In [102]:
len(header_group_1a)

86

In [103]:
header_group_1b=separated_dicts[('Trip Duration',
  'Start Time',
  'Stop Time',
  'Start Station ID',
  'Start Station Name',
  'Start Station Latitude',
  'Start Station Longitude',
  'End Station ID',
  'End Station Name',
  'End Station Latitude',
  'End Station Longitude',
  'Bike ID',
  'User Type',
  'Birth Year',
  'Gender')]
header_group_1b

['201701-citibike-tripdata.csv',
 '201703-citibike-tripdata.csv',
 '201610-citibike-tripdata.csv',
 '201612-citibike-tripdata.csv',
 '201702-citibike-tripdata.csv',
 '201611-citibike-tripdata.csv']

In [104]:
len(header_group_1b)

6

In [105]:
# append list of files from header_group_1b onto header_group_1a

if len(header_group_1a)==86: #flow control
    for i in header_group_1b:
        header_group_1a.append(i)
    
header_group_1a

['201709-citibike-tripdata.csv',
 '201809-citibike-tripdata.csv',
 '2013-09 - Citi Bike trip data.csv',
 '202006-citibike-tripdata.csv',
 '202010-citibike-tripdata.csv',
 '201602-citibike-tripdata.csv',
 '201902-citibike-tripdata.csv',
 '201512-citibike-tripdata.csv',
 '201411-citibike-tripdata.csv',
 '201801-citibike-tripdata.csv',
 '2014-05 - Citi Bike trip data.csv',
 '201504-citibike-tripdata.csv',
 '2014-02 - Citi Bike trip data.csv',
 '201908-citibike-tripdata.csv',
 '201608-citibike-tripdata.csv',
 '201510-citibike-tripdata.csv',
 '201803-citibike-tripdata.csv',
 '201506-citibike-tripdata.csv',
 '202004-citibike-tripdata.csv',
 '202012-citibike-tripdata.csv',
 '202101-citibike-tripdata.csv',
 '202002-citibike-tripdata.csv',
 '201606-citibike-tripdata.csv',
 '201705-citibike-tripdata.csv',
 '201805-citibike-tripdata.csv',
 '201906-citibike-tripdata.csv',
 '201910-citibike-tripdata.csv',
 '201508-citibike-tripdata.csv',
 '2014-07 - Citi Bike trip data.csv',
 '201807-citibike-tripdata.csv',
 '201904-citibike-tripdata.csv',
 '201502-citibike-tripdata.csv',
 '201912-citibike-tripdata.csv',
 '201811-citibike-tripdata.csv',
 '2014-08 - Citi Bike trip data.csv',
 '201711-citibike-tripdata.csv',
 '201604-citibike-tripdata.csv',
 '201707-citibike-tripdata.csv',
 '201409-citibike-tripdata.csv',
 '202008-citibike-tripdata.csv',
 '2013-11 - Citi Bike trip data.csv',
 '201603-citibike-tripdata.csv',
 '202011-citibike-tripdata.csv',
 '202007-citibike-tripdata.csv',
 '2013-10 - Citi Bike trip data.csv',
 '201505-citibike-tripdata.csv',
 '201903-citibike-tripdata.csv',
 '201410-citibike-tripdata.csv',
 '201708-citibike-tripdata.csv',
 '201808-citibike-tripdata.csv',
 '2014-01 - Citi Bike trip data.csv',
 '201507-citibike-tripdata.csv',
 '201511-citibike-tripdata.csv',
 '2014-06 - Citi Bike trip data.csv',
 '201901-citibike-tripdata.csv',
 '201802-citibike-tripdata.csv',
 '201412-citibike-tripdata.csv',
 '201601-citibike-tripdata.csv',
 '202005-citibike-tripdata.csv',
 '201909-citibike-tripdata.csv',
 '201609-citibike-tripdata.csv',
 '2013-12 - Citi Bike trip data.csv',
 '201509-citibike-tripdata.csv',
 '201607-citibike-tripdata.csv',
 '201306-citibike-tripdata.csv',
 '201704-citibike-tripdata.csv',
 '201712-citibike-tripdata.csv',
 '202003-citibike-tripdata.csv',
 '201911-citibike-tripdata.csv',
 '2014-03 - Citi Bike trip data.csv',
 '201501-citibike-tripdata.csv',
 '201812-citibike-tripdata.csv',
 '2013-07 - Citi Bike trip data.csv',
 '201804-citibike-tripdata.csv',
 '201907-citibike-tripdata.csv',
 '2014-04 - Citi Bike trip data.csv',
 '202009-citibike-tripdata.csv',
 '2013-08 - Citi Bike trip data.csv',
 '201503-citibike-tripdata.csv',
 '201810-citibike-tripdata.csv',
 '201806-citibike-tripdata.csv',
 '201905-citibike-tripdata.csv',
 '201605-citibike-tripdata.csv',
 '201706-citibike-tripdata.csv',
 '201710-citibike-tripdata.csv',
 '202001-citibike-tripdata.csv',
 '201701-citibike-tripdata.csv',
 '201703-citibike-tripdata.csv',
 '201610-citibike-tripdata.csv',
 '201612-citibike-tripdata.csv',
 '201702-citibike-tripdata.csv',
 '201611-citibike-tripdata.csv']

In [106]:
len(header_group_1a)
# good, math checks out.
# original length was 86. 86+6=92

92

In [107]:
len(header_group_1b)

6

What is `.DS_Store` doing in the list? Let's remove it.

In [108]:
separated_dicts[('ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual')]

['202105-citibike-tripdata.csv',
 '202203-citibike-tripdata.csv',
 '202209-citibike-tripdata.csv',
 '.DS_Store',
 '202207-citbike-tripdata.csv',
 '202302-citibike-tripdata.csv',
 '202201-citibike-tripdata.csv',
 '202107-citibike-tripdata.csv',
 '202111-citibike-tripdata.csv',
 '202304-citibike-tripdata.csv',
 '202211-citibike-tripdata.csv',
 '202109-citibike-tripdata.csv',
 '202205-citibike-tripdata.csv',
 '202103-citibike-tripdata.csv',
 '202206-citbike-tripdata.csv',
 '202112-citibike-tripdata.csv',
 '202104-citibike-tripdata.csv',
 '202202-citibike-tripdata.csv',
 '202303-citibike-tripdata.csv',
 '202110-citibike-tripdata.csv',
 '202106-citibike-tripdata.csv',
 '202108-citibike-tripdata.csv',
 '202204-citibike-tripdata.csv',
 '202102-citibike-tripdata.csv']

In [109]:
item_to_remove = '.DS_Store'
list_value = separated_dicts[('ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual')]

if item_to_remove in list_value:
    list_value.remove(item_to_remove)

print(separated_dicts[('ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual')])

print(len(separated_dicts[('ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual')]))

['202105-citibike-tripdata.csv', '202203-citibike-tripdata.csv', '202209-citibike-tripdata.csv', '202207-citbike-tripdata.csv', '202302-citibike-tripdata.csv', '202201-citibike-tripdata.csv', '202107-citibike-tripdata.csv', '202111-citibike-tripdata.csv', '202304-citibike-tripdata.csv', '202211-citibike-tripdata.csv', '202109-citibike-tripdata.csv', '202205-citibike-tripdata.csv', '202103-citibike-tripdata.csv', '202206-citbike-tripdata.csv', '202112-citibike-tripdata.csv', '202104-citibike-tripdata.csv', '202202-citibike-tripdata.csv', '202303-citibike-tripdata.csv', '202110-citibike-tripdata.csv', '202106-citibike-tripdata.csv', '202108-citibike-tripdata.csv', '202204-citibike-tripdata.csv', '202102-citibike-tripdata.csv']
23

## Organize Header Groups

### Header Group 1

In [110]:
# define header group 1
header_group1=('ride_id',
  'rideable_type',
  'started_at',
  'ended_at',
  'start_station_name',
  'start_station_id',
  'end_station_name',
  'end_station_id',
  'start_lat',
  'start_lng',
  'end_lat',
  'end_lng',
  'member_casual')

print(separated_dicts[header_group1])
len(separated_dicts[header_group1])

csv_group1=separated_dicts[header_group1]

['202105-citibike-tripdata.csv', '202203-citibike-tripdata.csv', '202209-citibike-tripdata.csv', '202207-citbike-tripdata.csv', '202302-citibike-tripdata.csv', '202201-citibike-tripdata.csv', '202107-citibike-tripdata.csv', '202111-citibike-tripdata.csv', '202304-citibike-tripdata.csv', '202211-citibike-tripdata.csv', '202109-citibike-tripdata.csv', '202205-citibike-tripdata.csv', '202103-citibike-tripdata.csv', '202206-citbike-tripdata.csv', '202112-citibike-tripdata.csv', '202104-citibike-tripdata.csv', '202202-citibike-tripdata.csv', '202303-citibike-tripdata.csv', '202110-citibike-tripdata.csv', '202106-citibike-tripdata.csv', '202108-citibike-tripdata.csv', '202204-citibike-tripdata.csv', '202102-citibike-tripdata.csv']

### Header Group 2

In [7]:
# define header group 2
header_group2=('tripduration',
  'starttime',
  'stoptime',
  'start station id',
  'start station name',
  'start station latitude',
  'start station longitude',
  'end station id',
  'end station name',
  'end station latitude',
  'end station longitude',
  'bikeid',
  'usertype',
  'birth year',
  'gender')

print(separated_dicts[header_group2])
len(separated_dicts[header_group2])

csv_group2=separated_dicts[header_group2]

NameError: name 'separated_dicts' is not defined

In [112]:
# sanity check
len(csv_group1)+len(csv_group2)

115

## Combine all the CSVs in each header group

### Need to move all the filenames from each header group into their own folder

Create function:

In [136]:
def move_files_with_filenames(original_dir, new_dir, filenames):
    # Create the new directory if it doesn't exist
    if not os.path.exists(new_dir):
        os.makedirs(new_dir)
    
    # Iterate over the filenames
    for filename in filenames:
        # Get the full path of the file in the original directory
        original_file_path = os.path.join(original_dir, filename)
        
        # Check if the file exists in the original directory
        if os.path.isfile(original_file_path):
            # Get the full path of the file in the new directory
            new_file_path = os.path.join(new_dir, filename)
            
            # Move the file to the new directory
            shutil.move(original_file_path, new_file_path)
            print(f"Moved file: {filename} to {new_dir}")
        else:
            print(f"File not found: {filename}")

In [2]:
def move_csv_files_with_filenames(original_dir, new_dir, filenames):
    '''
    Takes files from an original directory and puts them in a 
    new directory, but only taking the specific filenames.
    '''
    # create the new directories if they don't exist
    if not os.path.exists(new_dir):
        os.makedirs(new_dir)
        
    # iterate over the filenames
    for filename in filenames:
        # get the full path of the file in the original directory
        original_file_path = os.path.join(original_dir, filename)

        # check if the file exists in the original directory
        if os.path.isfile(original_file_path):
            # get the full path of the file in the new directory
            new_file_path = os.path.join(new_dir, filename)

            # move the file to the new directory
            shutil.move(original_file_path, new_file_path)
            print(f"Moved file: {filename} to {new_dir}")
        else:
            print(f"File not found: {filename}")

Checking some files first:

In [6]:
original_dir='/Users/sra/files/projects/citibike_project/tripdata'
new_dir='/Users/sra/files/projects/citibike_project/combined/csv_group1'
filenames=csv_group2

if '202001-citibike-tripdata.csv' in csv_group2:
    print('within csv_group2')

NameError: name 'csv_group2' is not defined

In [142]:
if '202001-citibike-tripdata.csv' in csv_group1:
    print('within csv_group1')
else:
    print('not within csv_group1')

not within csv_group1

In [129]:
# Create the new directories if they don't exist
if not os.path.exists(new_dir):
    os.makedirs(new_dir)

# Iterate over the filenames
for file in filenames:
    # Get the full path of the file in the original directory
    original_file_path = os.path.join(original_dir, filename)
    
    print(original_file_path)

/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv
/Users/sra/files/projects/citibike_project/tripdata/202001-citibike-tripdata.csv

In [126]:
# test=pd.read_csv('/Users/sra/files/projects/citibike_project/tripdata/202304-citibike-tripdata.csv')
# test.head()

In [146]:
original_dir='/Users/sra/files/projects/citibike_project/tripdata'
new_dir='/Users/sra/files/projects/citibike_project/combined/csv_group1'
filenames=csv_group1

move_csv_files_with_filenames(original_dir=original_dir,
                             new_dir=new_dir,
                             filenames=filenames)

File not found: 202105-citibike-tripdata.csv
File not found: 202203-citibike-tripdata.csv
File not found: 202209-citibike-tripdata.csv
Moved file: 202207-citbike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202302-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202201-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202107-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202111-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202304-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202211-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202109-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202205-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202103-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202206-citbike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202112-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202104-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202202-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202303-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202110-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202106-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202108-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202204-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1
Moved file: 202102-citibike-tripdata.csv to /Users/sra/files/projects/citibike_project/combined/csv_group1

In [148]:
original_dir='/Users/sra/files/projects/citibike_project/tripdata'
new_dir='/Users/sra/files/projects/citibike_project/combined/csv_group2'
filenames=csv_group2

move_csv_files_with_filenames(original_dir=original_dir,
                             new_dir=new_dir,
                             filenames=filenames)

File not found: 201709-citibike-tripdata.csv
File not found: 201809-citibike-tripdata.csv
File not found: 2013-09 - Citi Bike trip data.csv
File not found: 202006-citibike-tripdata.csv
File not found: 202010-citibike-tripdata.csv
File not found: 201602-citibike-tripdata.csv
File not found: 201902-citibike-tripdata.csv
File not found: 201512-citibike-tripdata.csv
File not found: 201411-citibike-tripdata.csv
File not found: 201801-citibike-tripdata.csv
File not found: 2014-05 - Citi Bike trip data.csv
File not found: 201504-citibike-tripdata.csv
File not found: 2014-02 - Citi Bike trip data.csv
File not found: 201908-citibike-tripdata.csv
File not found: 201608-citibike-tripdata.csv
File not found: 201510-citibike-tripdata.csv
File not found: 201803-citibike-tripdata.csv
File not found: 201506-citibike-tripdata.csv
File not found: 202004-citibike-tripdata.csv
File not found: 202012-citibike-tripdata.csv
File not found: 202101-citibike-tripdata.csv
File not found: 202002-citibike-tripdata.csv
File not found: 201606-citibike-tripdata.csv
File not found: 201705-citibike-tripdata.csv
File not found: 201805-citibike-tripdata.csv
File not found: 201906-citibike-tripdata.csv
File not found: 201910-citibike-tripdata.csv
File not found: 201508-citibike-tripdata.csv
File not found: 2014-07 - Citi Bike trip data.csv
File not found: 201807-citibike-tripdata.csv
File not found: 201904-citibike-tripdata.csv
File not found: 201502-citibike-tripdata.csv
File not found: 201912-citibike-tripdata.csv
File not found: 201811-citibike-tripdata.csv
File not found: 2014-08 - Citi Bike trip data.csv
File not found: 201711-citibike-tripdata.csv
File not found: 201604-citibike-tripdata.csv
File not found: 201707-citibike-tripdata.csv
File not found: 201409-citibike-tripdata.csv
File not found: 202008-citibike-tripdata.csv
File not found: 2013-11 - Citi Bike trip data.csv
File not found: 201603-citibike-tripdata.csv
File not found: 202011-citibike-tripdata.csv
File not found: 202007-citibike-tripdata.csv
File not found: 2013-10 - Citi Bike trip data.csv
File not found: 201505-citibike-tripdata.csv
File not found: 201903-citibike-tripdata.csv
File not found: 201410-citibike-tripdata.csv
File not found: 201708-citibike-tripdata.csv
File not found: 201808-citibike-tripdata.csv
File not found: 2014-01 - Citi Bike trip data.csv
File not found: 201507-citibike-tripdata.csv
File not found: 201511-citibike-tripdata.csv
File not found: 2014-06 - Citi Bike trip data.csv
File not found: 201901-citibike-tripdata.csv
File not found: 201802-citibike-tripdata.csv
File not found: 201412-citibike-tripdata.csv
File not found: 201601-citibike-tripdata.csv
File not found: 202005-citibike-tripdata.csv
File not found: 201909-citibike-tripdata.csv
File not found: 201609-citibike-tripdata.csv
File not found: 2013-12 - Citi Bike trip data.csv
File not found: 201509-citibike-tripdata.csv
File not found: 201607-citibike-tripdata.csv
File not found: 201306-citibike-tripdata.csv
File not found: 201704-citibike-tripdata.csv
File not found: 201712-citibike-tripdata.csv
File not found: 202003-citibike-tripdata.csv
File not found: 201911-citibike-tripdata.csv
File not found: 2014-03 - Citi Bike trip data.csv
File not found: 201501-citibike-tripdata.csv
File not found: 201812-citibike-tripdata.csv
File not found: 2013-07 - Citi Bike trip data.csv
File not found: 201804-citibike-tripdata.csv
File not found: 201907-citibike-tripdata.csv
File not found: 2014-04 - Citi Bike trip data.csv
File not found: 202009-citibike-tripdata.csv
File not found: 2013-08 - Citi Bike trip data.csv
File not found: 201503-citibike-tripdata.csv
File not found: 201810-citibike-tripdata.csv
File not found: 201806-citibike-tripdata.csv
File not found: 201905-citibike-tripdata.csv
File not found: 201605-citibike-tripdata.csv
File not found: 201706-citibike-tripdata.csv
File not found: 201710-citibike-tripdata.csv
File not found: 202001-citibike-tripdata.csv
File not found: 201701-citibike-tripdata.csv
File not found: 201703-citibike-tripdata.csv
File not found: 201610-citibike-tripdata.csv
File not found: 201612-citibike-tripdata.csv
File not found: 201702-citibike-tripdata.csv
File not found: 201611-citibike-tripdata.csv

### Now we can combine the CSVs together

In [169]:
def combine_csv_files(original_dir,combined_dir,combined_filename):
    '''
    Takes an original directory where CSV files are 
    located and combines them to a user-specified 
    location (combined_dir) and names the new file 
    in a user-specified manner (combined_filename).
    '''
    
    # Get the list of CSV files in the directory
    csv_files = [file for file in os.listdir(original_dir) if file.endswith('.csv')]

    # Initialize an empty DataFrame for combined data
    combined_data = pd.DataFrame()

    # Iterate over each CSV file
    for index, csv_file in enumerate(csv_files):
        file_path = os.path.join(original_dir, csv_file)

        # Read CSV file
        df = pd.read_csv(file_path)

        # Append data to combined DataFrame
        if index == 0:
            # Include header only for the first CSV
            combined_data = combined_data.append(df)
        else:
            # Skip header for other CSVs
            combined_data = combined_data.append(df[1:], ignore_index=True)

    # Save the combined data to a new CSV file
    file_path = os.path.join(combined_dir,combined_filename)
    combined_data.to_csv(f'{file_path}'+'.csv', index=False)

In [170]:
orignal_dir='/Users/sra/files/projects/citibike_project/combined/csv_group1'
combined_dir='/Users/sra/files/projects/citibike_project/combined/group1_combined'
combined_filename='group1'
combine_csv_files(original_dir=original_dir,
                  combined_dir=combined_dir,
                  combined_filename=combined_filename)

In [173]:
def combine_csv_files(original_dir, combined_dir, combined_filename):
    '''
    Combines all CSV files found at an original 
    directory location (original_dir) and saves it to a 
    new directory (combined_dir) with a user-specified filename
    (combined_filename)
    '''
    
    # Create the combined directory if it doesn't exist
    if not os.path.exists(combined_dir):
        os.makedirs(combined_dir)
    
    # Initialize an empty DataFrame to store the combined data
    combined_data = pd.DataFrame()
    
    # Iterate over the files in the original directory
    for filename in os.listdir(original_dir):
        if filename.endswith('.csv'):
            file_path = os.path.join(original_dir, filename)
            
            if index == 0:
            # Include header only for the first CSV
            combined_data = combined_data.append(df)
            else:
            # Skip header for other CSVs
            combined_data = combined_data.append(df[1:], ignore_index=True)
            
            # Read the CSV file and append it to the combined data
            df = pd.read_csv(file_path)
            combined_data = combined_data.append(df, ignore_index=True)
    
    # Write the combined data to a new CSV file
    combined_file_path = os.path.join(combined_dir, combined_filename)
    combined_data.to_csv(combined_file_path, index=False)
    print(f"Combined CSV files saved to: {combined_file_path}")

In [179]:
def combine_csv_files(original_dir, combined_dir, combined_filename):
    '''
    Combines all CSV files found at an original 
    directory location (original_dir) and saves it to a 
    new directory (combined_dir) with a user-specified filename
    (combined_filename), but only preserving the headers of 
    the first file (all the files have the same headers at this point)
    '''
    
    # Create the combined directory if it doesn't exist
    if not os.path.exists(combined_dir):
        os.makedirs(combined_dir)
    
    # Initialize an empty DataFrame to store the combined data
    combined_data = pd.DataFrame()
    
    # Flag to keep track if the header is already added
    header_added = False
    
    # Iterate over the files in the original directory
    for filename in os.listdir(original_dir):
        if filename.endswith('.csv'):
            file_path = os.path.join(original_dir, filename)
            
            # Read the CSV file
            df = pd.read_csv(file_path)
            
            # If header is not added yet, add it to the combined data
            if not header_added:
                combined_data = pd.concat([combined_data, df.head(0)], ignore_index=True)
                header_added = True
            
            # Append the remaining rows to the combined data
            combined_data = pd.concat([combined_data, df[1:]], ignore_index=True)
            print(f"Concatenated the dataframe of file {filename}")
            
    # Write the combined data to a new CSV file
    combined_file_path = os.path.join(combined_dir, combined_filename)
    combined_data.to_csv(combined_file_path, index=False)
    print(f"Combined CSV files saved to: {combined_file_path}")

#### Group 1

In [180]:
original_directory = '/Users/sra/files/projects/citibike_project/combined/csv_group1'
combined_directory = '/Users/sra/files/projects/citibike_project/combined/group1_combined'
combined_filename = 'group1.csv'

combine_csv_files(original_directory, combined_directory, combined_filename)

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202105-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202203-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202209-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202207-citbike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202302-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202201-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202107-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202111-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202304-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202211-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202109-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202205-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202103-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202206-citbike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202112-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202104-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202202-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202303-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202110-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202106-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202108-citibike-tripdata.csv
Concatenated the dataframe of file JC-202305-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202204-citibike-tripdata.csv

/var/folders/n3/q8wb235x57n_sx2q14dsngjr0000gn/T/ipykernel_3392/3020053849.py:26: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Concatenated the dataframe of file 202102-citibike-tripdata.csv
Combined CSV files saved to: /Users/sra/files/projects/citibike_project/combined/group1_combined/group1.csv

#### Group 2

In [181]:
original_directory = '/Users/sra/files/projects/citibike_project/combined/csv_group2'
combined_directory = '/Users/sra/files/projects/citibike_project/combined/group2_combined'
combined_filename = 'group2.csv'

combine_csv_files(original_directory, combined_directory, combined_filename)

Concatenated the dataframe of file 201709-citibike-tripdata.csv
Concatenated the dataframe of file 201809-citibike-tripdata.csv
Concatenated the dataframe of file 2013-09 - Citi Bike trip data.csv
Concatenated the dataframe of file 202006-citibike-tripdata.csv
Concatenated the dataframe of file 201701-citibike-tripdata.csv
Concatenated the dataframe of file 202010-citibike-tripdata.csv
Concatenated the dataframe of file 201602-citibike-tripdata.csv
Concatenated the dataframe of file 201902-citibike-tripdata.csv
Concatenated the dataframe of file 201512-citibike-tripdata.csv
Concatenated the dataframe of file 201411-citibike-tripdata.csv
Concatenated the dataframe of file 201801-citibike-tripdata.csv
Concatenated the dataframe of file 2014-05 - Citi Bike trip data.csv
Concatenated the dataframe of file 201504-citibike-tripdata.csv
Concatenated the dataframe of file 2014-02 - Citi Bike trip data.csv
Concatenated the dataframe of file 201908-citibike-tripdata.csv
Concatenated the dataframe of file 201608-citibike-tripdata.csv
Concatenated the dataframe of file 201510-citibike-tripdata.csv
Concatenated the dataframe of file 201803-citibike-tripdata.csv
Concatenated the dataframe of file 201506-citibike-tripdata.csv
Concatenated the dataframe of file 202004-citibike-tripdata.csv
Concatenated the dataframe of file 201703-citibike-tripdata.csv
Concatenated the dataframe of file 202012-citibike-tripdata.csv
Concatenated the dataframe of file 202101-citibike-tripdata.csv
Concatenated the dataframe of file 202002-citibike-tripdata.csv
Concatenated the dataframe of file 201610-citibike-tripdata.csv
Concatenated the dataframe of file 201606-citibike-tripdata.csv
Concatenated the dataframe of file 201705-citibike-tripdata.csv
Concatenated the dataframe of file 201805-citibike-tripdata.csv
Concatenated the dataframe of file 201906-citibike-tripdata.csv
Concatenated the dataframe of file 201910-citibike-tripdata.csv
Concatenated the dataframe of file 201508-citibike-tripdata.csv
Concatenated the dataframe of file 2014-07 - Citi Bike trip data.csv
Concatenated the dataframe of file 201807-citibike-tripdata.csv
Concatenated the dataframe of file 201904-citibike-tripdata.csv
Concatenated the dataframe of file 201502-citibike-tripdata.csv
Concatenated the dataframe of file 201912-citibike-tripdata.csv
Concatenated the dataframe of file 201811-citibike-tripdata.csv
Concatenated the dataframe of file 2014-08 - Citi Bike trip data.csv
Concatenated the dataframe of file 201711-citibike-tripdata.csv
Concatenated the dataframe of file 201612-citibike-tripdata.csv
Concatenated the dataframe of file 201604-citibike-tripdata.csv
Concatenated the dataframe of file 201707-citibike-tripdata.csv
Concatenated the dataframe of file 201409-citibike-tripdata.csv
Concatenated the dataframe of file 202008-citibike-tripdata.csv
Concatenated the dataframe of file 2013-11 - Citi Bike trip data.csv
Concatenated the dataframe of file 201603-citibike-tripdata.csv
Concatenated the dataframe of file 202011-citibike-tripdata.csv
Concatenated the dataframe of file 202007-citibike-tripdata.csv
Concatenated the dataframe of file 2013-10 - Citi Bike trip data.csv
Concatenated the dataframe of file 201505-citibike-tripdata.csv
Concatenated the dataframe of file 201903-citibike-tripdata.csv
Concatenated the dataframe of file 201410-citibike-tripdata.csv
Concatenated the dataframe of file 201708-citibike-tripdata.csv
Concatenated the dataframe of file 201808-citibike-tripdata.csv
Concatenated the dataframe of file 2014-01 - Citi Bike trip data.csv
Concatenated the dataframe of file 201507-citibike-tripdata.csv
Concatenated the dataframe of file 201511-citibike-tripdata.csv
Concatenated the dataframe of file 2014-06 - Citi Bike trip data.csv
Concatenated the dataframe of file 201901-citibike-tripdata.csv
Concatenated the dataframe of file 201802-citibike-tripdata.csv
Concatenated the dataframe of file 201412-citibike-tripdata.csv
Concatenated the dataframe of file 201702-citibike-tripdata.csv
Concatenated the dataframe of file 201601-citibike-tripdata.csv
Concatenated the dataframe of file 202005-citibike-tripdata.csv
Concatenated the dataframe of file 201909-citibike-tripdata.csv
Concatenated the dataframe of file 201609-citibike-tripdata.csv
Concatenated the dataframe of file 2013-12 - Citi Bike trip data.csv
Concatenated the dataframe of file 201509-citibike-tripdata.csv
Concatenated the dataframe of file 201607-citibike-tripdata.csv
Concatenated the dataframe of file 201306-citibike-tripdata.csv
Concatenated the dataframe of file 201704-citibike-tripdata.csv
Concatenated the dataframe of file 201712-citibike-tripdata.csv
Concatenated the dataframe of file 201611-citibike-tripdata.csv
Concatenated the dataframe of file 202003-citibike-tripdata.csv
Concatenated the dataframe of file 201911-citibike-tripdata.csv
Concatenated the dataframe of file 2014-03 - Citi Bike trip data.csv
Concatenated the dataframe of file 201501-citibike-tripdata.csv
Concatenated the dataframe of file 201812-citibike-tripdata.csv
Concatenated the dataframe of file 2013-07 - Citi Bike trip data.csv
Concatenated the dataframe of file 201804-citibike-tripdata.csv
Concatenated the dataframe of file 201907-citibike-tripdata.csv
Concatenated the dataframe of file 2014-04 - Citi Bike trip data.csv
Concatenated the dataframe of file 202009-citibike-tripdata.csv
Concatenated the dataframe of file 2013-08 - Citi Bike trip data.csv
Concatenated the dataframe of file 201503-citibike-tripdata.csv
Concatenated the dataframe of file 201810-citibike-tripdata.csv
Concatenated the dataframe of file 201806-citibike-tripdata.csv
Concatenated the dataframe of file 201905-citibike-tripdata.csv
Concatenated the dataframe of file 201605-citibike-tripdata.csv
Concatenated the dataframe of file 201706-citibike-tripdata.csv
Concatenated the dataframe of file 201710-citibike-tripdata.csv
Concatenated the dataframe of file 202001-citibike-tripdata.csv
Combined CSV files saved to: /Users/sra/files/projects/citibike_project/combined/group2_combined/group2.csv

## Subsample `group1` for quicker turnaround

In [6]:
group1_location='/Users/sra/files/projects/citibike_project/combined/group1_combined/group1.csv'
group1_full=pd.read_csv(group1_location, low_memory=False)

In [11]:
group1_full.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55800085 entries, 0 to 55800084
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 5.4+ GB

In [7]:
group1_sample=group1_full.sample(frac=0.1, random_state=1)

In [8]:
group1_sample.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
11856258,052476E4CEC046E3,electric_bike,2023-02-01 09:54:39,2023-02-01 09:57:47,Prospect Pl & Nostrand Ave,4025.02,Brevoort Pl & Bedford Ave,4181.10,40.674280,-73.950300,40.680120,-73.953620,member
49373665,38933EDB9088B05E,electric_bike,2021-06-27 00:37:05,2021-06-27 01:01:18,N 6 St & Bedford Ave,5379.1,Dean St & Franklin Ave,4107.13,40.717452,-73.958509,40.677592,-73.955637,casual
9678059,C3277587ACF30DB4,electric_bike,2022-07-14 17:48:37,2022-07-14 17:56:22,University Pl & E 14 St,5905.14,Forsyth St\t& Grand St,5382.07,40.734814,-73.992085,40.717798,-73.993161,member
32643957,73F9A9B55C74CA4D,docked_bike,2021-03-12 11:31:18,2021-03-12 11:38:06,E 58 St & 3 Ave,6762.02,E 43 St & 2 Ave,6422.08,40.760958,-73.967245,40.750224,-73.971214,member
51891896,265A60512EE3A6CE,electric_bike,2021-08-18 09:53:17,2021-08-18 10:02:44,5 Ave & E 103 St,7511.19,Cathedral Pkwy & Broadway,7680.03,40.792255,-73.952499,40.804213,-73.966991,member

In [10]:
group1_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5580008 entries, 11856258 to 41137841
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 596.0+ MB

Good that the sub-sampling worked.

Now we can save this sub-sampled dataframe to a .CSV to work on it in Tableau.

In [12]:
group1_sample.to_csv('/Users/sra/files/projects/citibike_project/combined/group1_combined/group1_sample.csv',index=False)

# Addendum: Table Doublechecks

Check if the tables are formatted correctly, with minimal 'nulls'. To do this, we have to import `polars` to view the table.

In [1]:
import polars as pl

In [2]:
group1_location='/Users/sra/files/projects/citibike_project/combined/group1_combined/group1.csv'
group2_location='/Users/sra/files/projects/citibike_project/combined/group2_combined/group2.csv'

In [3]:
q=(
    pl.scan_csv(group1_location,ignore_errors=True,try_parse_dates=True)
)
group1_pl=q.collect()
group1_pl.head()

shape: (5, 13)

 ride_id    rideable_t  started_  ended_at     start_l  end_lat    end_lng    member_cas
 ---        ype         at        ---           ng       ---        ---        ual
 str        ---         ---       datetime[     ---      f64        f64        ---
            str         datetime  s]           f64                            str
                        [s]

 26A3DC47F  docked_bik  2021-05-  2021-05-1    -73.989  40.722174  -73.98368  member
 E0EA3A3    e           13        3             186                 8
                        12:48:08  13:07:37
 A99F2E1D6  docked_bik  2021-05-  2021-05-1    -73.954  40.765354  -73.93986  member
 27B088F    e           16        6             51                  3
                        08:30:13  08:45:47
 43E79A459  docked_bik  2021-05-  2021-05-0    -73.954  40.765354  -73.93986  member
 97B7390    e           01        1             51                  3
                        08:38:14  08:54:27
 8B3CC649F  docked_bik  2021-05-  2021-05-0    -73.954  40.765354  -73.93986  member
 4F58816    e           09        9             51                  3
                        08:12:31  08:27:05
 7101C98F0  docked_bik  2021-05-  2021-05-2    -73.937  40.771404  -73.95351  member
 57486F4    e           27        7             9                   7
                        07:52:27  08:09:01

In [3]:
table=group1_pl.filter(group1_pl['start_station_id']==6173.08)
table=table.filter(table['end_station_id']==6173.08)
table.head()

NameError: name 'group1_pl' is not defined

In [14]:
group1_pl.describe()

shape: (9, 14)

 describe   ride_id    rideable_t  started_    start_l  end_lat    end_lng    member_cas
 ---        ---        ype         at           ng       ---        ---        ual
 str        str        ---         ---          ---      f64        f64        ---
                       str         str          f64                            str

 count      55800085   55800085    55800085    5.58000  5.5800085  5.5800085  55800085
                                                85e7     e7         e7
 null_coun  0          0           0           0.0      94619.0    94619.0    0
 t
 mean       null       null        null        -73.975  40.740252  -73.97572  null
                                                62                  4
 std        null       null        null        0.02558  0.038519   0.025605   null
                                                7
 min        00000045A  classic_bi  2021-02-    -74.086  40.56      -74.28     casual
            35269CB    ke          01           783
                                   00:04:23
 max        FFFFFFE8D  electric_b  2023-05-    -73.867  40.96      -73.53     member
            DCE5606    ike         31           57
                                   23:58:58
 median     null       null        null        -73.981  40.739126  -73.98168  null
                                                656                 7
 25%        null       null        null        -73.993  40.716021  -73.99391  null
                                                836                 5
 75%        null       null        null        -73.959  40.763126  -73.95987  null
                                                776                 5

In [4]:
q=(
    pl.scan_csv(group2_location,ignore_errors=True,try_parse_dates=True)
)

group2_pl=q.collect()
group2_pl.head()

shape: (5, 30)

 tripdurati  starttime    stoptime    start         Bike ID  User Type  Birth     Gender
 on          ---          ---         station id     ---      ---        Year      ---
 ---         datetime[s  datetime[  ---            str      str        ---       str
 f64         ]            s]          f64                                str

 188.0       2017-09-01   2017-09-01  3101.0        null     null       null      null
             00:00:21     00:03:30
 305.0       2017-09-01   2017-09-01  3140.0        null     null       null      null
             00:00:25     00:05:30
 223.0       2017-09-01   2017-09-01  236.0         null     null       null      null
             00:00:52     00:04:36
 758.0       2017-09-01   2017-09-01  3427.0        null     null       null      null
             00:01:01     00:13:40
 2089.0      2017-09-01   2017-09-01  3016.0        null     null       null      null
             00:01:20     00:36:09

In [5]:
group2_pl_original=group2_pl

In [36]:
df1 = pl.DataFrame({"a": [1], "b": [3]})
df2 = pl.DataFrame({"a": [2], "b": [4]})
df=pl.concat([df1, df2])  # default is 'vertical' strategy
df

shape: (2, 2)

 a    b
 ---  ---
 i64  i64

 1    3
 2    4

In [6]:
# rename columns
group2_pl=group2_pl.select([
    pl.col('tripduration').alias('trip_duration'),
    pl.col('starttime').alias('started_at'),
    pl.col('stoptime').alias('ended_at'),
    pl.col('start station id').alias('start_station_id'),
    pl.col('start station name').alias('start_station_name'),
    pl.col('start station latitude').alias('start_lat'),
    pl.col('start station longitude').alias('start_lng'),
    pl.col('end station id').alias('end_station_id'),
    pl.col('end station name').alias('end_station_name'),
    pl.col('end station latitude').alias('end_lat'),
    pl.col('end station longitude').alias('end_lng'),
    pl.col('bikeid').alias('bike_id'),
    pl.col('usertype').alias('user_type'),
    pl.col('birth year').alias('birth_year'),
    pl.col('gender'),
    pl.col('Trip Duration').alias('trip_duration2'),
    pl.col('Start Time').alias('started_at2'),
    pl.col('Stop Time').alias('ended_at2'),
    pl.col('Start Station ID').alias('start_station_id2'),
    pl.col('Start Station Name').alias('start_station_name2'),
    pl.col('Start Station Latitude').alias('start_lat2'),
    pl.col('Start Station Longitude').alias('start_lng2'),
    pl.col('End Station ID').alias('end_station_id2'),
    pl.col('End Station Name').alias('end_station_name2'),
    pl.col('End Station Latitude').alias('end_lat2'),
    pl.col('End Station Longitude').alias('end_lng2'),
    pl.col('Bike ID').alias('bike_id2'),
    pl.col('User Type').alias('user_type2'),
    pl.col('Birth Year').alias('birth_year2'),
    pl.col('Gender').alias('gender2')
])

Write to `.parquet` for saving a checkpoint

In [10]:
from pathlib import Path

data_directory=Path('/Users/sra/files/projects/citibike_project/combined')

file_name='group2_pl_checkpoint.parquet'

file_path=data_directory / file_name

In [11]:
group2_pl.write_parquet(file=file_path)

In [16]:
q=(
    pl.scan_parquet(file_path)
)

group2_pl=q.collect()

In [17]:
group2_pl.describe()

shape: (9, 31)

 describe   trip_durat  started_  ended_at     bike_id2   user_typ  birth_yea  gender2
 ---        ion         at        ---           ---        e2        r2         ---
 str        ---         ---       str           str        ---       ---        str
            f64         str                                str       str

 count      1.12546532  11254653  112546532    112546532  11254653  112546532  112546532
            e8          2                                  2
 null_coun  5.828988e6  90530996  90880362     106717544  10676932  107132307  106717544
 t                                                         4
 mean       1034.93434  null      null         null       null      null       null
 std        13147.1200  null      null         null       null      null       null
            36
 min        60.0        2013-06-  2013-07-0    14529.0    Customer  1858.0     0.0
                        01        1
                        00:00:08  00:04:02
 max        1.9510049e  2017-12-  2018-01-3    29196.0    Subscrib  2001.0     2.0
            7           31        0                        er
                        23:58:56  08:33:49
 median     647.0       null      null         null       null      null       null
 25%        382.0       null      null         null       null      null       null
 75%        1129.0      null      null         null       null      null       null

Surprise - there are null columns. We need to see if the 'null' columns are ever populated with useable data, like for column 'Start Station ID'. Let's examine the nulls more closely.

In [18]:
group1_pl.shape

NameError: name 'group1_pl' is not defined

In [19]:
group2_pl.shape

(112546532, 30)

In [38]:
print(group1_pl['start_station_id'].value_counts().sort(by='counts',descending=True).head())
print("number unique values in group1 for column\n'start_station_id':",group1_pl['start_station_id'].n_unique())

shape: (5, 2)

 start_station_id  counts
 ---               ---
 f64               u32

 6140.05           247908
 5329.03           219580
 6822.09           208483
 6364.07           197135
 6173.08           194687

number unique values in group1 for column
'start_station_id': 1927

Wow, `group2` has an eye-popping 112.5 million rows of data!

In [7]:
print(group2_pl['Start Station ID'].value_counts().sort(by='counts',descending=True).head())
print("number unique values in group2 for column\n'Start Station ID':",group2_pl['Start Station ID'].n_unique())

shape: (5, 2)

 Start Station ID  counts
 ---               ---
 str               u32

 null              106717544
 519.0             65441
 435.0             40787
 497.0             40250
 402.0             38993

number unique values in group2 for column
'Start Station ID': 638

A lot of nulls in the title case column. In fact, most of the rows are nulls.

In [21]:
group2_pl['Start Station ID'].n_unique()

638

In [36]:
print(group2_pl['start station id'].value_counts().sort(by='counts',descending=True).head())
print("number unique values in group2 for column\n'start station id':",group2_pl['start station id'].n_unique())

shape: (5, 2)

 start station id  counts
 ---               ---
 f64               u32

 null              5831665
 519.0             884617
 497.0             719292
 435.0             691568
 426.0             663812

number unique values in group2 for column
'start station id': 1430

In [48]:
print(f"Nulls take up {round(((5831665/group2_pl.height)*100),2)}% of the column 'start station id'")

Nulls take up 5.18% of the column 'start station id'

In [70]:
group2_pl.null_count()

shape: (1, 30)

 tripdurati  starttime  stoptime  start         Bike ID    User Type  Birth     Gender
 on          ---        ---       station id     ---        ---        Year      ---
 ---         u32        u32       ---            u32        u32        ---       u32
 u32                              u32                                  u32

 5828988     90530996   90880362  5831665       106717544  106769324  10713230  106717544
                                                                       7

In [74]:
pd.options.display.max_columns = None

group2_pl_nulls_pd=group2_pl.null_count().to_pandas()
round((group2_pl_nulls_pd/group2_pl.height),2)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,0.05,0.8,0.81,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.1,0.05,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95,0.95

Let's drop the title cased columns, as 95% of the data is null.

In [49]:
group2_pl_nulls_pd.columns[15:]

NameError: name 'group2_pl_nulls_pd' is not defined

In [1]:
print(group2_pl.columns[15:])

NameError: name 'group2_pl' is not defined

In [ ]:
columns_to_exclude = group2_pl.columns[15:]
group2_pl_intermediate = group2_pl.select('*', exclude=columns_to_exclude)
group2_pl_intermediate

In [76]:
group1_pl_nulls_pd=group1_pl.null_count().to_pandas()
round((group1_pl_nulls_pd/group1_pl.height),2)

In [76]:
group1_pl.null_count()

shape: (1, 13)

 ride_id  rideable_t  started_at  ended_at    start_lng  end_lat  end_lng  member_casual
 ---      ype         ---         ---          ---        ---      ---      ---
 u32      ---         u32         u32          u32        u32      u32      u32
          u32

 0        0           0           0           0          94619    94619    0

In [53]:
# split group2 to prepare for concatenation

# group2 has double columns with different data,
# so I want to stack them so there are no
# repeated columns

In [20]:
group2_pl.head()

shape: (5, 30)

 trip_durat  started_  ended_at     start_stat    bike_id2  user_typ  birth_yea  gender2
 ion         at        ---          ion_id         ---       e2        r2         ---
 ---         ---       datetime[s  ---            str       ---       ---        str
 f64         datetime  ]            f64                      str       str
             [s]

 188.0       2017-09-  2017-09-01   3101.0        null      null      null       null
             01        00:03:30
             00:00:21
 305.0       2017-09-  2017-09-01   3140.0        null      null      null       null
             01        00:05:30
             00:00:25
 223.0       2017-09-  2017-09-01   236.0         null      null      null       null
             01        00:04:36
             00:00:52
 758.0       2017-09-  2017-09-01   3427.0        null      null      null       null
             01        00:13:40
             00:01:01
 2089.0      2017-09-  2017-09-01   3016.0        null      null      null       null
             01        00:36:09
             00:01:20

In [21]:
col_list=group2_pl.columns[15:]
col_list

['trip_duration2',
 'started_at2',
 'ended_at2',
 'start_station_id2',
 'start_station_name2',
 'start_lat2',
 'start_lng2',
 'end_station_id2',
 'end_station_name2',
 'end_lat2',
 'end_lng2',
 'bike_id2',
 'user_type2',
 'birth_year2',
 'gender2']

In [43]:
group2_col_section2=group2_pl.select([
    pl.col(col_list[0]),
    pl.col(col_list[1]),
    pl.col(col_list[2]),
    pl.col(col_list[3]),
    pl.col(col_list[4]),
    pl.col(col_list[5]),
    pl.col(col_list[6]),
    pl.col(col_list[7]),
    pl.col(col_list[8]),
    pl.col(col_list[9]),
    pl.col(col_list[10]),
    pl.col(col_list[11]),
    pl.col(col_list[12]),
    pl.col(col_list[13]),
    pl.col(col_list[14])
])

group2_col_section2.head()

shape: (5, 15)

 trip_durat  started_  ended_at    start_stat    bike_id  user_type   birth_year  gender
 ion         at        ---         ion_id         ---      ---         ---         ---
 ---         ---       datetime[  ---            f64      str         f64         f64
 f64         datetime  s]          f64
             [s]

 188.0       2017-09-  2017-09-01  3101.0        15475.0  Subscriber  1988.0      1.0
             01        00:03:30
             00:00:21
 305.0       2017-09-  2017-09-01  3140.0        30346.0  Subscriber  1969.0      1.0
             01        00:05:30
             00:00:25
 223.0       2017-09-  2017-09-01  236.0         28056.0  Subscriber  1993.0      1.0
             01        00:04:36
             00:00:52
 758.0       2017-09-  2017-09-01  3427.0        25413.0  Subscriber  1987.0      1.0
             01        00:13:40
             00:01:01
 2089.0      2017-09-  2017-09-01  3016.0        17584.0  Subscriber  1975.0      2.0
             01        00:36:09
             00:01:20

In [44]:
group2_col_section2.describe()

shape: (9, 16)

 describe    trip_durat  started_  ended_at      bike_id    user_ty  birth_ye  gender
 ---         ion         at        ---            ---        pe       ar        ---
 str         ---         ---       str            f64        ---      ---       f64
             f64         str                                 str      f64

 count       1.12546532  11254653  112546532     1.1254653  1125465  1.125465  1.1254653
             e8          2                        2e8        32       32e8      2e8
 null_count  5.828988e6  90530996  90880362      5.828988e  5828988  1.164369  5.828988e
                                                  6                   7e7       6
 mean        1034.93434  null      null          26286.055  null     1978.983  1.129902
                                                  977                 794
 std         13147.1200  null      null          8745.6678  null     12.04386  0.568256
             36                                   76                  3
 min         60.0        2013-06-  2013-07-01    14529.0    Custome  1857.0    0.0
                         01        00:04:02                  r
                         00:00:08
 max         1.9510049e  2017-12-  2018-01-30    50124.0    Subscri  2005.0    2.0
             7           31        08:33:49                  ber
                         23:58:56
 median      647.0       null      null          25336.0    null     1981.0    1.0
 25%         382.0       null      null          18621.0    null     1969.0    1.0
 75%         1129.0      null      null          32429.0    null     1989.0    1.0

In [24]:
# list comprehension to remove the last character from each string
col_list = [s[:-1] for s in col_list]

col_list

['trip_duration',
 'started_at',
 'ended_at',
 'start_station_id',
 'start_station_name',
 'start_lat',
 'start_lng',
 'end_station_id',
 'end_station_name',
 'end_lat',
 'end_lng',
 'bike_id',
 'user_type',
 'birth_year',
 'gender']

In [25]:
col_list=group2_pl.columns[:15]
col_list

['trip_duration',
 'started_at',
 'ended_at',
 'start_station_id',
 'start_station_name',
 'start_lat',
 'start_lng',
 'end_station_id',
 'end_station_name',
 'end_lat',
 'end_lng',
 'bike_id',
 'user_type',
 'birth_year',
 'gender']

In [26]:
group2_col_section1=group2_pl.select([
    pl.col(col_list[0]),
    pl.col(col_list[1]),
    pl.col(col_list[2]),
    pl.col(col_list[3]),
    pl.col(col_list[4]),
    pl.col(col_list[5]),
    pl.col(col_list[6]),
    pl.col(col_list[7]),
    pl.col(col_list[8]),
    pl.col(col_list[9]),
    pl.col(col_list[10]),
    pl.col(col_list[11]),
    pl.col(col_list[12]),
    pl.col(col_list[13]),
    pl.col(col_list[14])
])

group2_col_section1.head()

shape: (5, 15)

 trip_durat  started_  ended_at    start_stat    bike_id  user_type   birth_year  gender
 ion         at        ---         ion_id         ---      ---         ---         ---
 ---         ---       datetime[  ---            f64      str         f64         f64
 f64         datetime  s]          f64
             [s]

 188.0       2017-09-  2017-09-01  3101.0        15475.0  Subscriber  1988.0      1.0
             01        00:03:30
             00:00:21
 305.0       2017-09-  2017-09-01  3140.0        30346.0  Subscriber  1969.0      1.0
             01        00:05:30
             00:00:25
 223.0       2017-09-  2017-09-01  236.0         28056.0  Subscriber  1993.0      1.0
             01        00:04:36
             00:00:52
 758.0       2017-09-  2017-09-01  3427.0        25413.0  Subscriber  1987.0      1.0
             01        00:13:40
             00:01:01
 2089.0      2017-09-  2017-09-01  3016.0        17584.0  Subscriber  1975.0      2.0
             01        00:36:09
             00:01:20

In [29]:
group2_col_section1.describe()

shape: (9, 16)

 describe    trip_durat  started_  ended_at      bike_id    user_ty  birth_ye  gender
 ---         ion         at        ---            ---        pe       ar        ---
 str         ---         ---       str            f64        ---      ---       f64
             f64         str                                 str      f64

 count       1.12546532  11254653  112546532     1.1254653  1125465  1.125465  1.1254653
             e8          2                        2e8        32       32e8      2e8
 null_count  5.828988e6  90530996  90880362      5.828988e  5828988  1.164369  5.828988e
                                                  6                   7e7       6
 mean        1034.93434  null      null          26286.055  null     1978.983  1.129902
                                                  977                 794
 std         13147.1200  null      null          8745.6678  null     12.04386  0.568256
             36                                   76                  3
 min         60.0        2013-06-  2013-07-01    14529.0    Custome  1857.0    0.0
                         01        00:04:02                  r
                         00:00:08
 max         1.9510049e  2017-12-  2018-01-30    50124.0    Subscri  2005.0    2.0
             7           31        08:33:49                  ber
                         23:58:56
 median      647.0       null      null          25336.0    null     1981.0    1.0
 25%         382.0       null      null          18621.0    null     1969.0    1.0
 75%         1129.0      null      null          32429.0    null     1989.0    1.0

In [32]:
group2_col_section1.sample(n=10)

shape: (10, 15)

 trip_durat  started_  ended_at    start_stat    bike_id  user_type   birth_year  gender
 ion         at        ---         ion_id         ---      ---         ---         ---
 ---         ---       datetime[  ---            f64      str         f64         f64
 f64         datetime  s]          f64
             [s]

 550.0       null      null        492.0         32930.0  Subscriber  1975.0      1.0
 1306.0      null      null        401.0         17030.0  Subscriber  1987.0      1.0
 902.0       null      null        82.0          16526.0  Customer    null        0.0
 834.0       null      null        285.0         30323.0  Subscriber  1974.0      1.0

 260.0       null      null        450.0         29818.0  Subscriber  1995.0      1.0
 1303.0      2014-06-  null        314.0         18246.0  Subscriber  1963.0      1.0
             18
             06:38:51
 1292.0      null      null        3126.0        16923.0  Customer    1969.0      0.0
 472.0       null      null        458.0         31613.0  Subscriber  1967.0      1.0

In [27]:
# remove column name overwrite protection
group2_col_section2=group2_col_section2.select([
    pl.col('trip_duration2').alias('trip_duration'),
    pl.col('started_at2').alias('started_at'),
    pl.col('ended_at2').alias('ended_at'),
    pl.col('start_station_id2').alias('start_station_id'),
    pl.col('start_station_name2').alias('start_station_name'),
    pl.col('start_lat2').alias('start_lat'),
    pl.col('start_lng2').alias('start_lng'),
    pl.col('end_station_id2').alias('end_station_id'),
    pl.col('end_station_name2').alias('end_station_name'),
    pl.col('end_lat2').alias('end_lat'),
    pl.col('end_lng2').alias('end_lng'),
    pl.col('bike_id2').alias('bike_id'),
    pl.col('user_type2').alias('user_type'),
    pl.col('birth_year2').alias('birth_year'),
    pl.col('gender2').alias('gender')
])

group2_col_section2.head()

shape: (5, 15)

 trip_durat  started_at  ended_at  start_stat    bike_id  user_type  birth_year  gender
 ion         ---         ---       ion_id         ---      ---        ---         ---
 ---         str         str       ---            str      str        str         str
 str                               str

 null        null        null      null          null     null       null        null
 null        null        null      null          null     null       null        null
 null        null        null      null          null     null       null        null
 null        null        null      null          null     null       null        null
 null        null        null      null          null     null       null        null

In [34]:
group2_col_section2.describe()

shape: (9, 16)

 describe    trip_durat  started_  ended_at      bike_id    user_ty  birth_ye  gender
 ---         ion         at        ---            ---        pe       ar        ---
 str         ---         ---       str            str        ---      ---       str
             str         str                                 str      str

 count       112546532   11254653  112546532     112546532  1125465  11254653  112546532
                         2                                   32       2
 null_count  106717544   10671754  106717544     106717544  1067693  10713230  106717544
                         4                                   24       7
 mean        null        null      null          null       null     null      null
 std         null        null      null          null       null     null      null
 min         100.0       2016-10-  2016-10-01    14529.0    Custome  1858.0    0.0
                         01        00:04:03                  r
                         00:00:11
 max         9998.0      2017-03-  2017-04-06    29196.0    Subscri  2001.0    2.0
                         31        13:05:50                  ber
                         23:59:49
 median      null        null      null          null       null     null      null
 25%         null        null      null          null       null     null      null
 75%         null        null      null          null       null     null      null

In [46]:
group2_col_section2.sample(10)

shape: (10, 15)

 trip_durat  started_  ended_at    start_stat    bike_id  user_type   birth_year  gender
 ion         at        ---         ion_id         ---      ---         ---         ---
 ---         ---       datetime[  ---            f64      str         f64         f64
 f64         datetime  s]          f64
             [s]

 627.0       null      null        450.0         41279.0  Subscriber  1987.0      2.0
 147.0       null      null        357.0         20335.0  Subscriber  1984.0      1.0
 580.0       2017-10-  2017-10-20  334.0         32376.0  Subscriber  1971.0      1.0
             20        09:32:38
             09:22:57
 1620.0      null      null        281.0         16111.0  Customer    1969.0      0.0

 1393.0      2017-07-  2017-07-30  502.0         30324.0  Subscriber  1943.0      1.0
             30        16:00:44
             15:37:31
 377.0       null      null        244.0         27587.0  Subscriber  1980.0      1.0
 1201.0      null      null        3072.0        27141.0  Subscriber  1990.0      1.0
 330.0       null      null        296.0         16556.0  Subscriber  1995.0      2.0

In [47]:
group2_col_section1.sample(10)

shape: (10, 15)

 trip_durat  started_  ended_at    start_stat    bike_id  user_type   birth_year  gender
 ion         at        ---         ion_id         ---      ---         ---         ---
 ---         ---       datetime[  ---            f64      str         f64         f64
 f64         datetime  s]          f64
             [s]

 633.0       null      null        402.0         19581.0  Subscriber  1981.0      1.0
 374.0       null      null        301.0         21675.0  Subscriber  1973.0      2.0
 5682.0      null      null        3286.0        28692.0  Customer    1969.0      0.0
 401.0       null      null        380.0         21146.0  Subscriber  2001.0      1.0

 964.0       2017-11-  2017-11-28  403.0         28730.0  Subscriber  1980.0      2.0
             28        12:25:23
             12:09:19
 156.0       2014-05-  2014-05-29  476.0         17997.0  Subscriber  1983.0      1.0
             29        07:47:43
             07:45:07
 915.0       2017-11-  2017-11-09  385.0         32139.0  Subscriber  1995.0      1.0
             09        23:46:47
             23:31:31
 527.0       2013-08-  2013-08-24  337.0         15210.0  Subscriber  1985.0      1.0
             24        17:46:26
             17:37:39

In [42]:
# casting columns appropriately
# for col_section1 and col_section2

# for col_section2
# example: trip_duration should be Float64
# example: started_at should be Datetime
group2_col_section2=group2_col_section2.select([
    pl.col('trip_duration').cast(pl.Float32),
    pl.col('started_at').str.strptime(pl.Datetime, "%Y-%m-%d",strict=False),
    pl.col('ended_at').str.strptime(pl.Datetime, "%Y-%m-%d",strict=False),
    pl.col('start_station_id').cast(pl.Float32),
    pl.col('start_station_name'),
    pl.col('start_lat').cast(pl.Float32),
    pl.col('start_lng').cast(pl.Float32),
    pl.col('end_station_id').cast(pl.Float32),
    pl.col('end_station_name'),
    pl.col('end_lat').cast(pl.Float32),
    pl.col('end_lng').cast(pl.Float32),
    pl.col('bike_id').cast(pl.Float32),
    pl.col('user_type'),
    pl.col('birth_year').cast(pl.Float32),
    pl.col('gender')
])

group2_col_section2.describe()

shape: (9, 16)

 describe    trip_durat  started_  ended_at      bike_id    user_ty  birth_ye  gender
 ---         ion         at        ---            ---        pe       ar        ---
 str         ---         ---       str            f64        ---      ---       str
             f64         str                                 str      f64

 count       1.12546532  11254653  112546532     1.1254653  1125465  1.125465  112546532
             e8          2                        2e8        32       32e8
 null_count  1.06717544  11254653  112546532     1.0671754  1067693  1.071323  106717544
             e8          2                        4e8        24       07e8
 mean        844.368774  null      null          22060.808  null     1977.712  null
                                                  594                 28
 std         10147.5332  null      null          4029.6816  null     11.88745  null
             03                                   41                  2
 min         61.0        null      null          14529.0    Custome  1858.0    0.0
                                                             r
 max         8.933552e6  null      null          29196.0    Subscri  2001.0    2.0
                                                             ber
 median      576.0       null      null          22745.0    null     1980.0    null
 25%         354.0       null      null          18457.0    null     1969.0    null
 75%         966.0       null      null          25723.0    null     1987.0    null

In [48]:
group2_pl_fix=pl.concat([group2_col_section1,group2_col_section2])
group2_pl_fix.describe()

shape: (9, 16)

 describe    trip_durat  started_  ended_at      bike_id    user_ty  birth_ye  gender
 ---         ion         at        ---            ---        pe       ar        ---
 str         ---         ---       str            f64        ---      ---       f64
             f64         str                                 str      f64

 count       2.25093064  22509306  225093064     2.2509306  2250930  2.250930  2.2509306
             e8          4                        4e8        64       64e8      4e8
 null_count  1.1657976e  18106199  181760724     1.1657976  1165797  2.328739  1.1657976
             7           2                        e7         6        4e7       e7
 mean        1034.93434  null      null          26286.055  null     1978.983  1.129902
                                                  977                 794
 std         13147.1200  null      null          8745.6678  null     12.04386  0.568256
             05                                   56                  3
 min         60.0        2013-06-  2013-07-01    14529.0    Custome  1857.0    0.0
                         01        00:04:02                  r
                         00:00:08
 max         1.9510049e  2017-12-  2018-01-30    50124.0    Subscri  2005.0    2.0
             7           31        08:33:49                  ber
                         23:58:56
 median      647.0       null      null          25336.0    null     1981.0    1.0
 25%         382.0       null      null          18621.0    null     1969.0    1.0
 75%         1129.0      null      null          32429.0    null     1989.0    1.0

In [50]:
group2_pl_fix.sample(10)

shape: (10, 15)

 trip_durat  started_  ended_at    start_stat    bike_id  user_type   birth_year  gender
 ion         at        ---         ion_id         ---      ---         ---         ---
 ---         ---       datetime[  ---            f64      str         f64         f64
 f64         datetime  s]          f64
             [s]

 633.0       null      null        236.0         30650.0  Subscriber  1994.0      1.0
 585.0       null      null        229.0         40581.0  Subscriber  1973.0      2.0
 772.0       null      null        426.0         23350.0  Customer    null        0.0
 215.0       2017-06-  2017-06-25  442.0         28213.0  Subscriber  1972.0      1.0
             25        10:23:59
             10:20:23

 1142.0      null      null        353.0         15428.0  Subscriber  1978.0      2.0
 898.0       null      null        250.0         19999.0  Customer    null        0.0
 1464.0      null      null        392.0         30586.0  Subscriber  1984.0      1.0
 606.0       null      null        379.0         17542.0  Subscriber  1979.0      1.0

In [52]:
# combining the two group2 
# dataframes was successful!
# 
# write to parquet to save progress

from pathlib import Path

data_directory=Path('/Users/sra/files/projects/citibike_project/combined')

file_name='group2_pl_full.parquet'

file_path=data_directory / file_name

Path = data_directory / file_name

group2_pl_fix.write_parquet(Path)